# Server
node_modules/
build/*
!build/README.md

# Ignore database so I can set my credentials there without publishing to GitHub 🙄
# Its probably not getting modified anyway so it doesn't matter really
./utility/database.ts
